<footer>
	<div>
				
				<p>Have feedback? Talk to us at <a href='mailto:miami-dade@codeforamerica.org'>miami-dade@codeforamerica.org</a><br>
				<span class='tiny'>Built by Team Miami-Dade at <a href='http://codeforamerica.org'>Code for America</a> in partnership with the <a href='http://miamidade.gov/economy/'>Department of Economic and Regulatory Resources</a> in Miami-Dade County.</p>
				<p class='tiny'>Question mark icon by <a href='https://thenounproject.com/search/?q=question+mark&i=70964'>Austin Condiff</a></p>
	</div>
</footer>