{% extends "layout.html" %}

{% block content %}

{{ super() }}

<div class="row" id="breadcrumb">
  <ul class="list-nav">
    <li class="breadcrumb-text">You're looking at:</li>
    <li id="breadcrumb-location">User feedback admin panel</li>
    <li class="breadcrumb-empty"></li>
    <li class="breadcrumb-text">Go back to:</li>
    <li id="breadcrumb-return"><a href="/">Dashboard</a></li>
  </ul>
</div>

<div class='row twelve columns'>

  <h2>What would you like to do?</h2>

  <menu id='admin-nav'>

    <li><a href="{{ url_for('surveys.create') }}" class="button">Create a new survey</a></li>

    <ul id="survey-existing">

        <li><h4>Edit an existing survey:</h4></li>

        {% for survey in surveys %}
        <li>
          <a href="{{ url_for('surveys.survey_edit', survey_id=survey.id) }}" class='button secondary'>
            Survey {{ survey.id }}: {{ survey.title_en }}
          </a>
          <span class='date'>Published on x/y/z'</span>
          <span class='button delete'>Delete</span>
        </li>
        {% endfor %}

      </ul>

  </menu>
</div>

{% endblock %}
