/* VARIABLES */
/* OVERRIDES - SKELETON */
/* HTML BASICS - BODY, HEADER, FOOTER, UL */
/* line 26, ../sass/screen.scss */
body {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  color: #1a1a1a;
}

/* line 34, ../sass/screen.scss */
header {
  width: 100%;
  background-color: #52D0F5;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  height: auto;
  overflow: auto;
}

/* line 46, ../sass/screen.scss */
header a {
  color: white;
}

/* line 52, ../sass/screen.scss */
footer div,
header div {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/* line 60, ../sass/screen.scss */
footer {
  width: 100%;
  background-color: #f7fafa;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 68, ../sass/screen.scss */
footer p {
  padding: 0;
  margin: 0;
  line-height: normal;
}

/* line 75, ../sass/screen.scss */
ul li {
  display: inline;
}

/* line 80, ../sass/screen.scss */
section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: left;
}

/* line 88, ../sass/screen.scss */
section:last-child {
  border-bottom: 0;
}

/* line 93, ../sass/screen.scss */
a {
  color: #52D0F5;
  font-weight: bold;
  text-decoration: none;
}

/* TYPOGRAPHY */
/* line 103, ../sass/screen.scss */
h1 {
  margin-bottom: 0;
}

/* line 108, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 113, ../sass/screen.scss */
.tiny {
  font-size: .5em;
}

/* line 118, ../sass/screen.scss */
.small {
  font-size: .75em;
  font-weight: normal;
}

/* line 124, ../sass/screen.scss */
.huge {
  font-size: 3em;
  margin-bottom: 0;
}

/* line 131, ../sass/screen.scss */
.center {
  text-align: center;
}

/* line 135, ../sass/screen.scss */
.red {
  color: #C40232;
}

/* line 140, ../sass/screen.scss */
.green {
  color: #4CD884;
}

/* line 145, ../sass/screen.scss */
.blue {
  color: #4bc3ff;
}

/* line 150, ../sass/screen.scss */
.button.blue {
  width: 50%;
  padding: 20px;
  background-color: #4bc3ff;
  color: white;
}

/* line 159, ../sass/screen.scss */
#survey-picker {
  margin: 0 auto;
  text-align: center;
}

/* line 165, ../sass/screen.scss */
a.blue:hover {
  background-color: rgba(75, 195, 255, 0.5);
}

/* line 170, ../sass/screen.scss */
.no-bottom-margin {
  margin-bottom: 0;
}

/* used for content-container on the dashboard. */
/* line 176, ../sass/screen.scss */
.vertical-center-35 {
  padding-top: 35px !important;
}

/* UTILITY CLASSES */
/* line 184, ../sass/screen.scss */
.hidden {
  display: none !important;
}

/* line 190, ../sass/screen.scss */
.inline {
  padding-right: 20px;
}

/* when you need it invisible _but_ taking up space*/
/* line 196, ../sass/screen.scss */
.invisible-button {
  visibility: collapse;
}

/* when you need it invisible but taking up space */
/* line 202, ../sass/screen.scss */
.invisible {
  visibility: collapse;
  height: 0;
  margin: 0;
  padding: 0;
}

/* line 211, ../sass/screen.scss */
.active {
  background-color: #4BC3FF;
  color: white !important;
  border-color: #4BC3FF;
}

/* line 218, ../sass/screen.scss */
a.what-is-this {
  width: 20px;
  height: 20px;
  display: block;
}

/* line 225, ../sass/screen.scss */
.what-is-this img {
  width: 100%;
  height: auto;
}

/* line 231, ../sass/screen.scss */
.u-width-30 {
  width: 30%;
}

/* GLOBAL CONTAINER, NAV */
/* line 237, ../sass/screen.scss */
#container {
  width: 90%;
  min-height: 800px;
  padding: 10px;
  margin: 0 auto;
  height: auto;
  overflow: auto;
}

/* line 248, ../sass/screen.scss */
#header-nav {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}
/* line 254, ../sass/screen.scss */
#header-nav li {
  display: inline-block;
  vertical-align: middle;
}

/* line 262, ../sass/screen.scss */
.main-nav-unauthed,
.main-nav {
  text-align: right;
}

/* line 268, ../sass/screen.scss */
.main-nav li {
  display: inline;
}

/* line 273, ../sass/screen.scss */
.main-nav li:first-child:after {
  content: ' | ';
}

/* line 279, ../sass/screen.scss */
.unauthed li {
  display: inline;
  padding-right: 20px;
}

/* line 285, ../sass/screen.scss */
.unauthed li:first-child:after {
  content: '';
}

/* line 291, ../sass/screen.scss */
.button {
  min-height: 38px !important;
  height: auto !important;
}

/* NAV */
/* line 300, ../sass/screen.scss */
#logo img {
  width: 150px;
  height: auto;
}

/* line 307, ../sass/screen.scss */
#breadcrumb {
  margin-left: 5%;
}

/* line 312, ../sass/screen.scss */
#breadcrumb-nav-parent {
  margin-right: 10%;
}

/* line 317, ../sass/screen.scss */
.breadcrumb-nav:after {
  content: ' | ';
}

/* line 323, ../sass/screen.scss */
.breadcrumb-nav:last-child:after {
  content: '';
}

/* line 328, ../sass/screen.scss */
.breadcrumb-empty {
  margin-left: 20px;
}

/* ADMIN PANEL-SPECIFIC */
/* line 335, ../sass/screen.scss */
#admin-nav li {
  display: list-item;
  min-width: 25%;
  max-width: 40%;
  list-style: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 347, ../sass/screen.scss */
#survey-existing {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 353, ../sass/screen.scss */
#survey-existing li {
  max-width: 100% !important;
}

/* line 358, ../sass/screen.scss */
.secondary {
  color: white;
  background-color: grey;
}

/* USER MANAGEMENT */
/* line 366, ../sass/screen.scss */
#user-list h1 {
  padding-bottom: 30px;
}

/* line 372, ../sass/screen.scss */
#add-user-form {
  border-top: 1px #f7fafa solid;
  padding-top: 30px;
}

/* line 378, ../sass/screen.scss */
#add-user-form label,
#add-user-form input {
  display: inline-block;
}

/* line 384, ../sass/screen.scss */
#add-user-form p {
  margin-bottom: 0px;
}

/* line 390, ../sass/screen.scss */
.radio {
  margin-right: 5px;
}

/* line 395, ../sass/screen.scss */
.user {
  list-style: none;
  padding-left: 30px;
}

/* line 401, ../sass/screen.scss */
.user span {
  margin-right: 5px;
  display: list-item;
}

/* line 408, ../sass/screen.scss */
.user-name {
  font-weight: 600;
  font-size: 1.5em;
}

/* line 415, ../sass/screen.scss */
.user-permissions,
.user-permissions span {
  display: inline-block;
}

/* line 425, ../sass/screen.scss */
#stakeholderForm ul li {
  display: list-item;
}

/* SURVEY BUILDER */
/* line 433, ../sass/screen.scss */
#survey-questions {
  padding: 20px;
  border: 1px solid #cccccc;
  margin-top: 0;
}

/* line 441, ../sass/screen.scss */
#survey-questions h3 {
  width: 100%;
  background-color: #eeeeee;
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px;
}

/* line 450, ../sass/screen.scss */
.survey-question {
  height: auto;
  overflow: auto;
  background-color: white;
}

/* line 458, ../sass/screen.scss */
#add-question-wrapper {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 467, ../sass/screen.scss */
#add-question {
  margin-left: 20px;
  background-color: white;
  margin-top: 10px;
}

/* line 474, ../sass/screen.scss */
.delete-survey,
.delete-option,
.delete {
  color: white;
  background-color: red;
  margin-left: 5px;
}

/* line 483, ../sass/screen.scss */
.sortable-placeholder {
  border: 1px solid #e0e0e0;
  list-style: none;
  height: 150px;
  background-color: #e0e0e0;
}

/* line 491, ../sass/screen.scss */
.dragger img {
  width: 40px;
  height: auto;
}

/* line 497, ../sass/screen.scss */
.ui-sortable-handle,
#survey-nav li,
li.survey-question {
  list-style: none;
}

/* DASHBOARD */
/* line 507, ../sass/screen.scss */
canvas {
  width: 90%;
  height: 192px;
}

/* line 514, ../sass/screen.scss */
.panel {
  border: 5px solid #f7fafa;
  height: 300px;
  margin: 5px;
  margin-right: 3.53333%;
}

/* line 523, ../sass/screen.scss */
.double-height {
  height: 610px;
}

/* line 529, ../sass/screen.scss */
.double-height canvas {
  height: 502px;
}

/* line 534, ../sass/screen.scss */
.triple-height {
  height: 1000px;
}

/* line 539, ../sass/screen.scss */
.triple-height canvas {
  height: 900px;
}

/* line 544, ../sass/screen.scss */
.content-container {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  height: 199px;
}

/* line 553, ../sass/screen.scss */
.double-height .content-container {
  height: 510px;
}

/* line 559, ../sass/screen.scss */
.leaflet-heatmap-layer,
#leaflet-open,
#leaflet-lein,
#leaflet {
  height: inherit;
  width: inherit;
}

/* line 569, ../sass/screen.scss */
.first-panel {
  margin-left: 0 !important;
}

/* line 574, ../sass/screen.scss */
.last-panel {
  margin-right: 0 !important;
}

/* line 579, ../sass/screen.scss */
.headline {
  background-color: #f7fafa;
  color: #1a1a1a;
  padding: 10px;
  font-weight: bold;
}

/* line 588, ../sass/screen.scss */
.panel-header {
  margin-bottom: 5px;
}

/* line 594, ../sass/screen.scss */
.last-list {
  margin-bottom: 30px;
}

/* line 599, ../sass/screen.scss */
.details {
  background-color: #f7fafa;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1px;
}

/* line 609, ../sass/screen.scss */
.details a {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1rem;
}

/* line 617, ../sass/screen.scss */
#star-rating {
  padding-top: 50px;
}

/* DETAILS VIEWS */
/* line 624, ../sass/screen.scss */
#details-view {
  padding-top: 0;
  margin-top: 0;
}

/* line 630, ../sass/screen.scss */
#survey-details {
  height: auto;
  overflow: auto;
}

/* line 636, ../sass/screen.scss */
.fluid-height {
  height: 1000px;
  overflow: display;
}

/* line 643, ../sass/screen.scss */
.fluid-height canvas {
  height: 900px;
}

/* line 648, ../sass/screen.scss */
.jqcloud {
  height: inherit;
}

/* line 653, ../sass/screen.scss */
.response {
  padding: 40px;
  border-bottom: 1px solid #f7fafa;
}

/* line 659, ../sass/screen.scss */
.response:last-child {
  border-bottom: 0;
}

/* line 664, ../sass/screen.scss */
.response .alert-message {
  padding: 20px;
}

/* line 669, ../sass/screen.scss */
.sticky-thead {
  background-color: white;
}

/* line 674, ../sass/screen.scss */
td {
  max-width: 200px;
  border-bottom: none;
  vertical-align: top;
}

/* line 682, ../sass/screen.scss */
table {
  border: 1px solid white;
}

/* line 688, ../sass/screen.scss */
thead {
  text-transform: uppercase;
  font-size: 0.85em;
}

/* line 694, ../sass/screen.scss */
tr.table-top-row {
  border-top: 15px solid #f7fafa;
}

/* line 701, ../sass/screen.scss */
tr.table-button td {
  border-bottom: 15px solid #f7fafa;
  margin: 0;
}

/* line 709, ../sass/screen.scss */
.table-alert {
  background-color: rgba(245, 201, 61, 0.5);
}

/* line 714, ../sass/screen.scss */
.method-sms {
  text-transform: uppercase;
}

/* line 719, ../sass/screen.scss */
.method-web {
  text-transform: capitalize;
}

/* line 724, ../sass/screen.scss */
#centered-list {
  text-align: center;
}
/* line 728, ../sass/screen.scss */
#centered-list li {
  display: inline-block;
  width: 19%;
}

/********** ALERTS ************/
/* line 737, ../sass/screen.scss */
.alert {
  width: 80%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* line 747, ../sass/screen.scss */
.alert .close {
  width: 40px;
  height: 40px;
  font-size: 1.5em;
}

/* line 755, ../sass/screen.scss */
.alert-alert-success {
  border: 1px solid #4CD884;
  background-color: rgba(76, 216, 132, 0.1);
  color: #4CD884;
}
/* line 761, ../sass/screen.scss */
.alert-alert-success .close {
  color: #4CD884;
}

/* line 767, ../sass/screen.scss */
.alert-message {
  border: 1px solid #F5C93D;
  background-color: rgba(245, 201, 61, 0.1);
  color: #F5C93D;
}
/* line 773, ../sass/screen.scss */
.alert-message .close {
  color: #F5C93D;
}

/* line 780, ../sass/screen.scss */
.alert-alert-danger,
.alert-alert-warning {
  border: 1px solid #C40232;
  background-color: rgba(196, 2, 50, 0.1);
  color: #C40232;
}
/* line 787, ../sass/screen.scss */
.alert-alert-danger .close,
.alert-alert-warning .close {
  color: #C40232;
}

/* line 793, ../sass/screen.scss */
.user-list li {
  display: list-item;
}
