/* VARIABLES */
/* OVERRIDES - SKELETON */
/* line 16, ../sass/screen.scss */
.column,
.columns {
  margin-left: 0;
}

/* HTML BASICS - BODY, HEADER, FOOTER, UL */
/* line 25, ../sass/screen.scss */
body {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  color: #1a1a1a;
}

/* line 33, ../sass/screen.scss */
header {
  width: 100%;
  background-color: #52D0F5;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  height: auto;
  overflow: auto;
}

/* line 45, ../sass/screen.scss */
header a {
  color: white;
}

/* line 51, ../sass/screen.scss */
footer div,
header div {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/* line 59, ../sass/screen.scss */
footer {
  width: 100%;
  background-color: #f7fafa;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 67, ../sass/screen.scss */
footer p {
  padding: 0;
  margin: 0;
  line-height: normal;
}

/* line 74, ../sass/screen.scss */
ul li {
  display: inline;
}

/* line 79, ../sass/screen.scss */
section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: left;
}

/* line 87, ../sass/screen.scss */
section:last-child {
  border-bottom: 0;
}

/* line 92, ../sass/screen.scss */
a {
  color: #52D0F5;
  font-weight: bold;
  text-decoration: none;
}

/* TYPOGRAPHY */
/* line 102, ../sass/screen.scss */
h1 {
  margin-bottom: 0;
}

/* line 107, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 112, ../sass/screen.scss */
.tiny {
  font-size: .5em;
}

/* line 117, ../sass/screen.scss */
.small {
  font-size: .75em;
  font-weight: normal;
}

/* line 123, ../sass/screen.scss */
.huge {
  font-size: 3em;
}

/* UTILITY CLASSES */
/* line 131, ../sass/screen.scss */
.hidden {
  display: none !important;
}

/* when you need it invisible _but_ taking up space*/
/* line 138, ../sass/screen.scss */
.invisible-button {
  visibility: collapse;
}

/* when you need it invisible but taking up space */
/* line 144, ../sass/screen.scss */
.invisible {
  visibility: collapse;
  height: 0;
  margin: 0;
  padding: 0;
}

/* line 153, ../sass/screen.scss */
.active {
  background-color: #4BC3FF;
  color: white !important;
  border-color: #4BC3FF;
}

/* GLOBAL CONTAINER, NAV */
/* line 162, ../sass/screen.scss */
#container {
  width: 90%;
  min-height: 800px;
  padding: 10px;
  margin: 0 auto;
  height: auto;
  overflow: auto;
}

/* line 173, ../sass/screen.scss */
.main-nav-unauthed,
.main-nav {
  text-align: right;
}

/* line 179, ../sass/screen.scss */
.main-nav li {
  display: inline;
}

/* line 184, ../sass/screen.scss */
.main-nav li:first-child:after {
  content: ' | ';
}

/* line 190, ../sass/screen.scss */
.unauthed li {
  display: inline;
  padding-right: 20px;
}

/* line 196, ../sass/screen.scss */
.unauthed li:first-child:after {
  content: '';
}

/* line 202, ../sass/screen.scss */
.button {
  min-height: 38px !important;
  height: auto !important;
}

/* NAV */
/* line 211, ../sass/screen.scss */
#logo img {
  width: 150px;
  height: auto;
}

/* line 218, ../sass/screen.scss */
#breadcrumb {
  margin-left: 5%;
}

/* line 223, ../sass/screen.scss */
#breadcrumb-nav-parent {
  margin-right: 10%;
}

/* line 228, ../sass/screen.scss */
.breadcrumb-nav:after {
  content: ' | ';
}

/* line 234, ../sass/screen.scss */
.breadcrumb-nav:last-child:after {
  content: '';
}

/* line 239, ../sass/screen.scss */
.breadcrumb-empty {
  margin-left: 20px;
}

/* ADMIN PANEL-SPECIFIC */
/* line 246, ../sass/screen.scss */
#admin-nav li {
  display: list-item;
  min-width: 25%;
  max-width: 40%;
  list-style: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 258, ../sass/screen.scss */
#survey-existing {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 264, ../sass/screen.scss */
#survey-existing li {
  max-width: 100% !important;
}

/* line 269, ../sass/screen.scss */
.secondary {
  color: white;
  background-color: grey;
}

/* USER MANAGEMENT */
/* line 277, ../sass/screen.scss */
#user-list h1 {
  padding-bottom: 30px;
}

/* line 283, ../sass/screen.scss */
#add-user-form {
  border-top: 1px #f7fafa solid;
  padding-top: 30px;
}

/* line 289, ../sass/screen.scss */
#add-user-form label,
#add-user-form input {
  display: inline-block;
}

/* line 295, ../sass/screen.scss */
#add-user-form p {
  margin-bottom: 0px;
}

/* line 301, ../sass/screen.scss */
.radio {
  margin-right: 5px;
}

/* line 306, ../sass/screen.scss */
.user {
  list-style: none;
  padding-left: 30px;
}

/* line 314, ../sass/screen.scss */
.user span {
  margin-right: 5px;
  display: list-item;
}

/* line 321, ../sass/screen.scss */
.user-name {
  font-weight: 600;
  font-size: 1.5em;
}

/* line 328, ../sass/screen.scss */
.user-permissions,
.user-permissions span {
  display: inline-block;
}

/* SURVEY BUILDER */
/* line 335, ../sass/screen.scss */
#survey-questions {
  padding: 20px;
  border: 1px solid #cccccc;
  margin-top: 0;
}

/* line 343, ../sass/screen.scss */
#survey-questions h3 {
  width: 100%;
  background-color: #eeeeee;
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px;
}

/* line 352, ../sass/screen.scss */
.survey-question {
  height: auto;
  overflow: auto;
  background-color: white;
}

/* line 360, ../sass/screen.scss */
#add-question-wrapper {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 369, ../sass/screen.scss */
#add-question {
  margin-left: 20px;
  background-color: white;
  margin-top: 10px;
}

/* line 376, ../sass/screen.scss */
.delete-survey,
.delete-option,
.delete {
  color: white;
  background-color: red;
  margin-left: 5px;
}

/* line 385, ../sass/screen.scss */
.sortable-placeholder {
  border: 1px solid #e0e0e0;
  list-style: none;
  height: 150px;
  background-color: #e0e0e0;
}

/* line 393, ../sass/screen.scss */
.dragger img {
  width: 40px;
  height: auto;
}

/* line 399, ../sass/screen.scss */
.ui-sortable-handle,
#survey-nav li,
li.survey-question {
  list-style: none;
}

/* DASHBOARD */
/* line 409, ../sass/screen.scss */
canvas {
  width: 90%;
  height: 192px;
}

/* line 416, ../sass/screen.scss */
.panel {
  border: 5px solid #f7fafa;
  height: 300px;
  margin: 5px;
}

/* line 424, ../sass/screen.scss */
.double-height {
  height: 610px;
}

/* line 430, ../sass/screen.scss */
.double-height canvas {
  height: 502px;
}

/* line 435, ../sass/screen.scss */
.fluid-height canvas,
.fluid-height {
  height: auto;
  overflow: auto;
}

/* line 444, ../sass/screen.scss */
.triple-height {
  height: 1000px;
}

/* line 449, ../sass/screen.scss */
.triple-height canvas {
  height: 900px;
}

/* line 454, ../sass/screen.scss */
.content-container {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  height: 199px;
}

/* line 463, ../sass/screen.scss */
.double-height .content-container {
  height: 510px;
}

/* line 469, ../sass/screen.scss */
#leaflet {
  height: inherit;
  width: inherit;
}

/* line 476, ../sass/screen.scss */
.first-panel {
  margin-left: 0 !important;
}

/* line 481, ../sass/screen.scss */
.headline {
  background-color: #f7fafa;
  color: #1a1a1a;
  padding: 10px;
  font-weight: bold;
}

/* line 490, ../sass/screen.scss */
.details {
  background-color: #f7fafa;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1px;
}

/* line 500, ../sass/screen.scss */
.details a {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1rem;
}

/* line 508, ../sass/screen.scss */
#star-rating {
  padding-top: 50px;
}
