/* VARIABLES */
/* OVERRIDES - SKELETON */
/* line 16, ../sass/screen.scss */
.column,
.columns {
  margin-left: 0;
}

/* HTML BASICS - BODY, HEADER, FOOTER, UL */
/* line 25, ../sass/screen.scss */
body {
  font-size: 16px;
  margin: 0 auto;
  text-align: center;
  color: #1a1a1a;
}

/* line 33, ../sass/screen.scss */
header {
  width: 100%;
  background-color: #52D0F5;
  color: white;
  padding-top: 30px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  height: auto;
  overflow: auto;
}

/* line 45, ../sass/screen.scss */
header a {
  color: white;
}

/* line 51, ../sass/screen.scss */
footer div,
header div {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/* line 59, ../sass/screen.scss */
footer {
  width: 100%;
  background-color: #f7fafa;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* line 67, ../sass/screen.scss */
footer p {
  padding: 0;
  margin: 0;
  line-height: normal;
}

/* line 74, ../sass/screen.scss */
ul li {
  display: inline;
}

/* line 79, ../sass/screen.scss */
section {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-bottom: 30px;
  text-align: left;
}

/* line 87, ../sass/screen.scss */
section:last-child {
  border-bottom: 0;
}

/* line 92, ../sass/screen.scss */
a {
  color: #52D0F5;
  font-weight: bold;
  text-decoration: none;
}

/* TYPOGRAPHY */
/* line 102, ../sass/screen.scss */
h1 {
  margin-bottom: 0;
}

/* line 107, ../sass/screen.scss */
.bold {
  font-weight: bold;
}

/* line 112, ../sass/screen.scss */
.tiny {
  font-size: .5em;
}

/* line 117, ../sass/screen.scss */
.huge {
  font-size: 3em;
}

/* UTILITY CLASSES */
/* line 125, ../sass/screen.scss */
.hidden {
  display: none !important;
}

/* when you need it invisible but taking up space */
/* line 131, ../sass/screen.scss */
.invisible {
  visibility: collapse;
}

/* line 136, ../sass/screen.scss */
.active {
  background-color: #4BC3FF;
  color: white !important;
  border-color: #4BC3FF;
}

/* GLOBAL CONTAINER, NAV */
/* line 145, ../sass/screen.scss */
#container {
  width: 90%;
  min-height: 800px;
  padding: 10px;
  margin: 0 auto;
}

/* line 154, ../sass/screen.scss */
.main-nav {
  text-align: right;
}

/* line 159, ../sass/screen.scss */
.main-nav li {
  display: inline;
}

/* line 164, ../sass/screen.scss */
.main-nav li:first-child:after {
  content: ' | ';
}

/* line 170, ../sass/screen.scss */
.button {
  min-height: 38px !important;
  height: auto !important;
}

/* NAV */
/* line 179, ../sass/screen.scss */
#logo img {
  width: 150px;
  height: auto;
}

/* line 186, ../sass/screen.scss */
#breadcrumb {
  margin-left: 5%;
}

/* line 191, ../sass/screen.scss */
#breadcrumb-nav-parent {
  margin-right: 10%;
}

/* line 196, ../sass/screen.scss */
.breadcrumb-nav:after {
  content: ' | ';
}

/* line 202, ../sass/screen.scss */
.breadcrumb-nav:last-child:after {
  content: '';
}

/* line 207, ../sass/screen.scss */
.breadcrumb-empty {
  margin-left: 20px;
}

/* ADMIN PANEL-SPECIFIC */
/* line 214, ../sass/screen.scss */
#admin-nav li {
  display: list-item;
  min-width: 25%;
  max-width: 40%;
  list-style: none;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

/* line 226, ../sass/screen.scss */
#survey-existing {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* line 232, ../sass/screen.scss */
#survey-existing li {
  max-width: 100% !important;
}

/* line 237, ../sass/screen.scss */
.secondary {
  color: white;
  background-color: grey;
}

/* SURVEY BUILDER */
/* line 245, ../sass/screen.scss */
#survey-questions {
  padding: 20px;
  border: 1px solid #cccccc;
  margin-top: 0;
}

/* line 253, ../sass/screen.scss */
#survey-questions h3 {
  width: 100%;
  background-color: #eeeeee;
  padding: 20px;
  margin-left: -20px;
  margin-top: -20px;
}

/* line 262, ../sass/screen.scss */
.survey-question {
  height: auto;
  overflow: auto;
  background-color: white;
}

/* line 270, ../sass/screen.scss */
#add-question-wrapper {
  border-top: 1px solid #cccccc;
  padding-top: 20px;
  padding-bottom: 0px;
  margin-left: -20px;
  margin-right: -20px;
}

/* line 279, ../sass/screen.scss */
#add-question {
  margin-left: 20px;
  background-color: white;
  margin-top: 10px;
}

/* line 286, ../sass/screen.scss */
.delete-survey,
.delete-option,
.delete {
  color: white;
  background-color: red;
  margin-left: 5px;
}

/* line 295, ../sass/screen.scss */
.sortable-placeholder {
  border: 1px solid #e0e0e0;
  list-style: none;
  height: 150px;
  background-color: #e0e0e0;
}

/* line 303, ../sass/screen.scss */
.dragger img {
  width: 40px;
  height: auto;
}

/* line 309, ../sass/screen.scss */
.ui-sortable-handle,
#survey-nav li,
li.survey-question {
  list-style: none;
}

/* DASHBOARD */
/* line 319, ../sass/screen.scss */
canvas {
  width: 90%;
  height: 200px;
}

/* line 326, ../sass/screen.scss */
.panel {
  border: 5px solid #f7fafa;
  height: 300px;
  margin: 5px;
}

/* line 333, ../sass/screen.scss */
.double-height {
  height: 610px;
}

/* line 338, ../sass/screen.scss */
.double-height canvas {
  height: 500px;
}

/* line 343, ../sass/screen.scss */
.content-container {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  vertical-align: middle;
  height: 200px;
}

/* line 352, ../sass/screen.scss */
.first-panel {
  margin-left: 0 !important;
}

/* line 357, ../sass/screen.scss */
.headline {
  background-color: #f7fafa;
  color: #1a1a1a;
  padding: 10px;
  font-weight: bold;
}

/* line 366, ../sass/screen.scss */
.details {
  position: relative;
  background-color: #f7fafa;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 1px;
}

/* line 376, ../sass/screen.scss */
.details a {
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: .1rem;
}

/* line 384, ../sass/screen.scss */
#star-rating {
  padding-top: 50px;
}
