/* OVERRIDES */
.column,
.columns {
	
	margin-left:0;
}

/* SOPHIA STUFF */
/* TYPOGRAPHY */

.bold {
	
	font-weight:bold;
}

.tiny {
	
	font-size:.5em;
}

.huge {
	
	font-size:3em;
	
}
/* END TYPOGRAPHY */

body {
	
	margin:0 auto;
	text-align: center;
}

header {
	
	width:100%;
	background-color: #4BC3FF;
	color:white;
	padding-top:30px;
	padding-bottom:20px;
	margin-bottom:20px;
	height:auto;
	overflow: auto;
}

header a {
	
	color:white;
}

footer div,
header div {
	
	width:80%;
	text-align: center;
	margin:0 auto;
}

footer {
	
	width:100%;
	background-color:#d1d1d1;
	padding-top:20px;
	padding-bottom:20px;
}

footer p {
	
	padding:0;
	margin:0;
	line-height: normal;
}

ul li {
	
	display:inline;
}

.hidden {
	
	display:none !important;
}

#container {
	
	width:90%;
	min-height:800px;
	padding:10px;
	margin:0 auto;
	
}

section {
	
	margin-top:30px;
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid grey;
	text-align: left;
}

section:last-child {
	
	border-bottom:0;
}

.active {
	
	background-color:#4BC3FF;
	color:white !important;
	border-color:#4BC3FF;
}

.button {
	
	min-height:38px !important;
	height: auto !important;
}

/* Admin panel */

#admin-nav {
	
}

#admin-nav li {
	
	display:list-item;
	min-width:25%;
	max-width:40%;
	list-style:none;
	margin:0 auto;
	margin-top:10px;
	margin-bottom:10px;
	text-align: center;
}

#survey-existing {
	
	margin-top:30px;
	margin-bottom:30px;
}

#survey-existing li {
	
	max-width:100% !important;
}

.secondary {
	
	color:white;
	background-color:grey;
}

.delete {
	
	color:white;
	background-color:red;
	margin-left:5px;
}

/* SURVEY BUILDER */

.survey-question {
	
	height:auto;
	overflow: auto;
	border-bottom:1px solid grey;
}

/* DASHBOARD */
.panel {
	
	border:1px solid purple;
	min-height:300px;
}


/* -------------------------------------------- end sophia stuff -------------------------------------------- */



/* TYPOGRAPHY */
/*
 * Base structure
 */

#container .row,
#container .columns {
	
	text-align: left;
}

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}


/*
 * Main content
 */

.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}


/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.bold {

  font-weight:bold;
}

.tiny {

  font-size:.5em;
}
/* END TYPOGRAPHY */
