{% extends "layout.html" %}
{% block content %}
		
	<div id="container">
		
		<div class='row u-pull-left' id='breadcrumb'>
			
			<ul class='list-nav'>
				
				<li class='breadcrumb-text'>You're looking at:</li>
				<li id='breadcrumb-location'>User feedback admin panel</li>
				<li class='breadcrumb-empty'></li>
				<li class='breadcrumb-text'>Go back to:</li>
				<li id='breadcrumb-return'><a href='/'>Dashboard</a></li>
				
			</ul>
		</div>
		
		<div class='row twelve columns'>
			
			<h2>What would you like to do?</h2>
			
			<menu id='admin-nav'>
			
				<li class='button'><a href='/create-survey'>Create a new survey</a></li>
				
				<li class='button'>Select public-facing metrics</li>
				<li class='button'>Select internal-facing metrics</li>
				<li class='button'>Export reports</li>
				
				<ul id='survey-existing'>
						
						<li><h4>Edit an existing survey:</h4></li>
						
						<li id='survey-id-0'>
							<span class='button secondary'>Survey 1</span> 
							<span class='date'>Published on x/y/z'</span>
							<a href="#modal" class='button delete-survey' id='0'>Delete</a>
						</li>
						
						<li><span class='button secondary'>Survey 2</span> <span class='date'>Published on x/y/z'</span><span class='button delete-survey' id='1'>Delete</span></li>
						<li><span class='button secondary'>Survey 3</span> <span class='date'>Published on x/y/z'</span><span class='button delete-survey' id='2'>Delete</span></li>
						
						<!-- id should be replaced by a unique ID from the database? -->
					</ul>

			
			</menu>
		</div>
		
		<div class="remodal" data-remodal-id="modal">
			
		  <button data-remodal-action="close" class="remodal-close"></button>
		  <h1>Warning!<br>You can't undo this!</h1>
		  <p>
		    Deleting this survey means it won't be accessible to you or your users.<br>You will <span class='bold'>not</span> be able to retrieve this survey again. 
		  </p>
		  <br>
		  <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
		  <button data-remodal-action="confirm" class="remodal-confirm">Delete survey</button>
		</div>
	</div><!--!/#container -->
	
	
{% endblock %}