
<section class='row' id='permitting'>

	<div class='row twelve columns'><h3>Permit Metrics</h3></div>

	<div class='twelve columns panel first-panel'>

			<div class='headline'>Master building permits opened per month<a rel='tipsy' title='this is a tooltip' class='what-is-this u-pull-right tipsy-hook' href='#' id='p-monthly'><img class='' src='static/images/question_bk.png'></a></div>

			<div class='content-container'>
				<canvas id='openPermits'></canvas>
			</div>

			<p class='hidden details invisible-button'><a href=#>View Details</a></p>

		</div>

  
  <div class='twelve columns panel first-panel last-panel'>
      
      <div class='headline'>
        Trade permits, issued same-day v. total issued <!-- same day trade permits -->
        <a rel='tipsy' title='' class='what-is-this u-pull-right tipsy-hook' href='#' id='p-same-day'><img class='' src='static/images/question_bk.png'></a>
      </div>
      
      <div class='content-container twelve-columns'>
        
        <ul class='hidden'>
          <li id='plumbing-data'>{{ '%0.2f'| format(dash_obj[6].data.PLUM.percent) }}</li>
          <li id='building-data'>{{ '%0.2f'| format(dash_obj[6].data.BLDG.percent) }}</li>
          <li id='fire-data'>{{ '%0.2f'| format(dash_obj[6].data.FIRE.percent) }}</li>
          <li id='electrical-data'>{{ '%0.2f'| format(dash_obj[6].data.ELEC.percent) }}</li>
          <li id='zoning-data'>{{ '%0.2f'| format(dash_obj[6].data.ZIPS.percent) }}</li>
        </ul>
        
        <ul id='centered-list'>
          
          <li>
            
            <canvas id='p-plumbing'></canvas>
            <p>Plumbing</p>
            
          </li>
          
          <li>
            
            <canvas id='p-building'></canvas>
            <p>Building</p>
            
          </li>
          
          <li>
            <canvas id='p-fire'></canvas>
            <p>Fire</p>
            
          </li>
          
          <li>
            <canvas id='p-electrical'></canvas>
            <p>Electrical</p>
          </li>
          
          <li>
            <canvas id='p-zoning'></canvas>
            <p>Zoning</p>
          </li>
        
        </ul>
      </div>
      
      <p class='details invisible-button hidden'><a href=#>View Details</a></p>
      
    </div>
    
  <div class='twelve columns'>
      
    <div class='four columns panel double-height first-panel'>
      <div class='headline'>
        Time to issuance for commercial permits
        <a rel='tipsy' title='this is a tooltip' class='what-is-this u-pull-right tipsy-hook' href='#' id='p-commercial-issuance'><img class='' src='static/images/question_bk.png'></a>
      </div>
      <div class='content-container'>
        <p class='bold panel-header vertical-center-35'>New commercial construction and additions:</p>
        <li>{{ dash_obj[3].data.nc.val }} days on average</li>
        <li>{{ dash_obj[3].data.nc.min }} days min.</li>
        <li class='last-list'>{{ dash_obj[3].data.nc.max }} days max.</li>
        
        
        <p class='bold panel-header'>Renovations, alterations or repairs:</p>
        <li>{{ dash_obj[3].data.rc.val }} days on average</li>
        <li>{{ dash_obj[3].data.rc.min }} days min.</li>
        <li class='last-list'>{{ dash_obj[3].data.rc.max }} days max.</li>
        
        
        <p class='bold panel-header'>Signs (Non-Electric):</p>
        <li>{{ dash_obj[3].data.s.val }} days on average</li>
        <li>{{ dash_obj[3].data.s.min }} days min.</li>
        <li class='last-list'>{{ dash_obj[3].data.s.max }} days max.</li>

      </div>
      <p class='details invisible-button hidden'><a href=#>View Details</a></p>
    </div>
    
    <div class='eight columns panel double-height last-panel'>
      <div class='headline'>
        <!-- {{ dash_obj[4].title }} --> Time to issuance for residential permits
        <a rel='tipsy' title='this is a tooltip' class='what-is-this u-pull-right tipsy-hook' href='#' id='p-residential-issuance'><img class='' src='static/images/question_bk.png'></a>
      </div>
      <div class='content-container'>
        
        <div class='six columns vertical-center-35'>
        
          <p class='bold panel-header'>New residential construction:</p>
          <li>{{ dash_obj[4].data.nr.val }} days on average</li>
          <li>{{ dash_obj[4].data.nr.min }} days min.</li>
          <li class='last-list'>{{ dash_obj[4].data.nr.max }} days max.</li>
          
          
          <p class='bold panel-header'>Renovations, alterations or repairs:</p>
          <li>{{ dash_obj[4].data.rr.val }} days on average</li>
          <li>{{ dash_obj[4].data.rr.min }} days min.</li>
          <li class='last-list'>{{ dash_obj[4].data.rr.max }} days max.</li>
          
          <p class='bold panel-header'>Swimming pools:</p>
          <li>{{ dash_obj[4].data.p.val }} days on average</li>
          <li>{{ dash_obj[4].data.p.min }} days min.</li>
          <li class='last-list'>{{ dash_obj[4].data.p.max }} days max.</li>
        
        </div>
        
        <div class='six columns vertical-center-35'>
        
          <p class='bold panel-header'>Fences and walls:</p>
          <li>{{ dash_obj[4].data.f.val }} days on average</li>
          <li>{{ dash_obj[4].data.f.min }} days min.</li>
          <li class='last-list'>{{ dash_obj[4].data.f.max }} days max.</li>
          
          <p class='bold panel-header'>Screen enclosures:</p>
          <li>{{ dash_obj[4].data.e.val }} days on average</li>
          <li>{{ dash_obj[4].data.e.min }} days min.</li>
          <li class='last-list'>{{ dash_obj[4].data.e.max }} days max.</li>
        </div>
        
      </div>
      <p class='details invisible-button hidden'><a href=#>View Details</a></p>
    </div>
    
  </div>

	<div class='twelve columns'>

    <div class='eight columns panel first-panel'>
      <div class='headline'>{{ dash_obj[9].title }}<a rel='tipsy' title='this is a tooltip' class='what-is-this   u-pull-right tipsy-hook' href='#' id='p-type'><img class='' src='static/images/question_bk.png'></a></div>
      <div class='content-container'>
         <canvas id='permitTypeChart'>
      </div>
      <p class='details invisible-button'><a href=#>View Details</a></p>
    </div>

    <div class='four columns panel last-panel'>
      <div class='headline'>
        {{ dash_obj[11].title }}
        <a rel='tipsy' title='this is a tooltip' class='what-is-this   u-pull-right tipsy-hook' href='#' id='p-master'><img class='' src='static/images/question_bk.png'></a>
      </div>
      <div class='content-container'>
        <p class="huge bold">{{ '{0:,}'.format(dash_obj[11].data.val) }}</p>
        <p>Versus the same period a year ago:
          {% if dash_obj[11].data.yoy > 0 %}
          <span class='bold green'>Up
          {% else %}
          <span class='bold red'>Down
          {% endif %}
          {{ '%0.2f'| format(dash_obj[11].data.yoy|float) }}%
          </span>
        </p>
      </div>
      <p class='details invisible-button'><a href=#>View Details</a></p>
    </div>

</section> <!-- close row -->

<section class='row' id='regulation'>

	<div class='row twelve columns'><h3>Neighborhood Compliance</h3></div>

	<div class='row twelve columns panel'>

		<div class='headline'>
      Complaints &amp; violations cases opened, per month
      <a rel='tipsy' title='this is a tooltip' class='what-is-this   u-pull-right tipsy-hook' href='#' id='v-monthly'><img class='' src='static/images/question_bk.png'></a>
    </div>
		<div class='content-container'>
			<canvas id='violations'></canvas>
		</div>
		<p class='hidden details invisible-button'><a href=#>View Details</a></p>

	</div>

	<div class='row twelve columns panel double-height'>

    <div class='headline'>Violations by location, current month to date<a rel='tipsy' title='this is a tooltip' class='what-is-this   u-pull-right tipsy-hook' href='#' id='v-closed'><img class='' src='static/images/question_bk.png'></a></div>
    
    <div class='four columns first-panel double-height'>
      
      filters etc go here. 
      
    </div>
		
		<div class='eight columns double-height'>

			<div class='content-container'>
				<div id='leaflet'></div>
			</div>
			<p class='hidden details invisible-button'><a href=#>View Details</a></p>
		</div>

	</div>

	<div class='row twelve columns panel double-height'>

			<div class='headline'>Top 20 Violations by Type, to date in 2015<a rel='tipsy' title='this is a tooltip' class='what-is-this   u-pull-right tipsy-hook' href='#' id='v-type'><img class='' src='static/images/question_bk.png'></a></div>
			<div class='content-container'>
				<canvas id='viotype'></canvas>
			</div>
			<p class='details invisible-button'><a href="{{ url_for('dashboard.violations_detail') }}">View Complete Dataset</a></p>

		</div>
</section> <!-- close row -->

{% macro lifespan_panel(title='', val=0, lastpanel=True) -%}

    <div class='four columns panel{% if lastpanel==True %} last-panel{% endif %}'>

      <div class='headline'>{{ title }}<a class='what-is-this u-pull-right' href='#'><img class='' src='static/images/question_bk.png'></a></div>

      <div class='content-container vertical-center-35'>
        <p class='huge bold'>{{ val.val }} days</p>
        <p>Max: {{ val.max }}</p>
        <p>Min: {{ val.min }}</p>

      </div>
      <p class='hidden details invisible-button'><a href=#>View Details</a></p>
    </div>
{%- endmacro %}
