
{% extends "layout.html" %}
{% block content %}

<h1 class="page-header">RER Dashboard <small>Statistics Overview</small></h1>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>New Reviews - Last 7 Days</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>Review Rating - Last 7 Days</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>Recommended - Last 7 Days</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">0</div>
                    <div>TBA</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
</div>

<h2 class="section-title">Permits</h2>

<div class="row placeholders">
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>Permit Lifespan - Last 30 Days</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>Average # of inspections per permit - Last 30 Days</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">26</div>
                    <div>% of Permits Completed Within 15 Days</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">500</div>
                    <div>Cost per permit / Average</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Plans</h3>
  </div>
  <div class="panel-body">
<div class="table-responsive">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Team Name</th>
        <th>Late Plans</th>
        <th>Plans in Area</th>
        <th>Completed Ratio</th>
        <th>Avg Handle Time</th>
        <th>Health</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>A-Team</td>
        <td>0</td>
        <td>0</td>
        <td>100% [SPARKLINE]</td>
        <td>31 days [SPARKLINE]</td>
        <td>Good</td>
      </tr>
      <tr>
        <td>Public Works A-Team</td>
        <td>133</td>
        <td>143</td>
        <td>6% [SPARKLINE]</td>
        <td>31 days [SPARKLINE]</td>
        <td>Good</td>
      </tr>
    </tbody>
  </table>
</div>

  </div>
</div>

<h2 class="section-title">Neighborhood compliance</h2>

<div class="row placeholders">
  <div class="col-xs-18 col-sm-9">
    <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=Map+(625x375)&w=625&h=375">

  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">30</div>
                    <div>Violations in the Past Month</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div> <!-- .panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Violation Type</h3>
        </div>
        <a href="#">
            <div class="panel-body">
              <img src="http://placehold.it/175x175">
            </div>
        </a>
    </div> <!-- .panel -->

  </div>
</div>

<h2 class="section-title">Building regulation</h2>

<div class="row placeholders">
  <div class="col-xs-18 col-sm-9">
    <img src="https://placeholdit.imgix.net/~text?txtsize=19&txt=Map+(625x375)&w=625&h=375">

  </div>
  <div class="col-xs-6 col-sm-3 placeholder">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-3">
                    <i class="fa fa-comments fa-5x"></i>
                </div>
                <div class="col-xs-9 text-right">
                    <div class="huge">30</div>
                    <div>Violations in the Past Month</div>
                </div>
            </div>
        </div>
        <a href="#">
            <div class="panel-footer">
                <span class="pull-left">View Details</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div> <!-- .panel -->

    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Violation Type</h3>
        </div>
        <a href="#">
            <div class="panel-body">
              <img src="http://placehold.it/175x175">
            </div>
        </a>
    </div> <!-- .panel -->

  </div>
</div>

( % Change over Same Quarter Last Year )

{% endblock %}
