{% extends "layout.html" %}
{% set active_page = 'Dashboard' %}
{% block content %}

<section class='row' id='dashboard'>

	<div class='row twelve columns'>
		<h3>Metrics from user surveys at the PIC</h3>
	</div>

	<div class='six columns panel'>

		<!-- the data -->
		<p class='hidden'>{{ dash_obj[0].data.new_reviews }}</p>

		<!-- the content -->
		<div class='headline'>{{ dash_obj[0].title }}</div>

		<div class='content-container'>
			<canvas id='myChart'></canvas>
		</div>

		<p class='details'><a href=#>View Details</a></p>

	</div>

	<div class='six columns'>

		<div class='six columns panel'>

			<div class='headline'>{{ dash_obj[1].title }}</div>

			<div class='content-container'>
				<div id='star-rating'>
					<!-- data & display -->
					<p class='hidden'>{{ dash_obj[1].data }}</p>
				</div>
				<p class='label'>Visitors to the PIC are rating their experience as {{ dash_obj[1].data }} out of seven stars.</p>
			</div>

			<p class='details'><a href=#>View Details</a></p>

		</div>

		<div class='six columns panel'>

			<!-- the content -->
			<div class='headline'>{{ dash_obj[2].title }}</div>
			<div class='content-container'>
				<canvas id='surveyChart'></canvas>
			</div>

			<p class='details'><a href=#>View Details</a></p>
		</div>

	</div>

</section> <!-- close row -->

<section class='row' id='permitting'>

	<div class='row twelve columns'><h3>Permit Metrics</h3></div>

<div class='six columns panel'>

			<div class='headline'>Permits opened per month</div>
			
			<div class='content-container'>
				<canvas id='openPermits'></canvas>
			</div>
		

		</div>
		
	<div class='six columns'>

		<div class='six columns panel'>

			<div class='headline'>Average # of inspections per permit - Last 30 Days</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>
		</div>

		<div class='six columns panel first-panel'>

			<div class='headline'>% of Permits Completed Within 15 Days</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>

		</div>

		<div class='six columns panel'>

			<div class='headline'>Cost per permit / Average</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>

		</div>
		
		<div class='six columns panel'>

			<div class='headline'>Average # of inspections per permit - Last 30 Days</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>

		</div>

	</div>

</section> <!-- close row -->

<!-- plans data that we don't have -->
<!--
<section class='row'>

	<div class='row twelve columns'><h3>Plans</h3></div>

	<div class='twelve columns panel'>

		<table class="table table-striped">
        <thead>
          <tr>
            <th>Team Name</th>
            <th>Late Plans</th>
            <th>Plans in Area</th>
            <th>Completed Ratio</th>
            <th>Avg Handle Time</th>
            <th>Health</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>A-Team</td>
            <td>0</td>
            <td>0</td>
            <td>100% [SPARKLINE]</td>
            <td>31 days [SPARKLINE]</td>
            <td>Good</td>
          </tr>
          <tr>
            <td>Public Works A-Team</td>
            <td>133</td>
            <td>143</td>
            <td>6% [SPARKLINE]</td>
            <td>31 days [SPARKLINE]</td>
            <td>Good</td>
          </tr>
        </tbody>
      </table>

		<a href=#>View Details</a>

	</div>

</section> --><!-- close row -->

<section class='row'>

	<div class='row twelve columns'><h3>Neighborhood Compliance</h3></div>

	<div class='six columns'>

		<div class='six columns panel'>

			<div class='headline'>Violations in the Past 30 Days (???% Change YOY)</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>
			
		</div>

		<div class='six columns panel'>

			<div class='headline'>Cases closed in the Past 30 Days (???% Change YOY)</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>
			
		</div>

		<div class='six columns panel first-panel'>

			<div class='headline'>Building regulation</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>
			

		</div>

		<div class='six columns panel'>

			<div class='headline'>Violation Type</div>
			<div class='content-container'>
				<p>data</p>
				<a href=#>View Details</a>
			</div>

		</div>

	</div>

	<div class='six columns panel double-height'>

		<div class='headline'>Violation Locations</div>
		<div class='content-container'>
			<iframe width="500px" title="RER-311-map" height="425px" src="https://opendata.miamidade.gov/w/mdve-y46a/e65f-pfdb?cur=qBqigp1ooiQ&from=root" frameborder="0"scrolling="no"><a href="https://opendata.miamidade.gov/311/RER-311-map/mdve-y46a" title="RER-311-map" target="_blank">RER-311-map</a></iframe>
		
			<p><a href=#>View Details</a></p>
		</div>
	</div>

</section> <!-- close row -->

{% endblock %}
