{% extends "layout.html" %}
{% set active_page = 'Survey Builder' %}
{% block content %}
		
	<div id="container">
	
		<section class='row twelve columns'>
			
			<h1>Manage your users.</h1>
						
		</section>
		 
		<section id='user-list' class='row twelve columns'>
						
			<li class='user' id='0'>
				<span class='user-name'>Sophia Dengo</span>
				<span class='user-mail'>sdengo@codeforamerica.org</span>
				<span class='user-permissions'>Superuser</span>
				<span class='button password'>Change Password</span>
				<span class='button delete'>x</span>
			</li>
			
			<li class='user' id='1'>
				<span class='user-name'>Ernie Hsiung</span>
				<span class='user-mail'>ehsiung@codeforamerica.org</span>
				<span class='user-permissions'>Superuser</span>
				<span class='button password'>Change Password</span>
				<span class='button delete'>x</span>
			</li>
			
			<li class='user' id='2'>
				<span class='user-name'>Mathias Gibson</span>
				<span class='user-mail'>mathias@codeforamerica.org</span>
				<span class='user-permissions'>Superuser</span>
				<span class='button password'>Change Password</span>
				<span class='button delete'>x</span>
			</li>
			
			<li class='add-user button'>Add a new user</li>
			
		</section>
		
		<section id='add-user-form' class='row twelve columns hidden'>
			
			<h3>Add a new user.</h3>
			
			<div>
				<h4>What's your user's name?</h4>
				<input type='text' placeholder="First and last name">
			</div>
			
			<div>
				<h4>What's your user's e-mail address?</h4>
				<input type="email" placeholder='name@miamidade.gov'>
			</div>
						
			<div>
				<h4>What permissions should your user have?</h4>
				<p><input type="radio" value='superuser'><label>Superuser <span class='small'>Can edit everything.</span></label></p>
				<p><input type="radio" value='user'><label>User <span class='small'>Can do everything but manage users.</span></label></p>
			</div>
			
			<div>
				<h4>Assign your user a password.</h4>
				<span class='button' id='generate-password'>Generate password</span>
			</div>
			
			<span class='button' id='submit-new-user'>Create new user</span>
			
		</section>
		
	</div><!--!/#container -->

{% endblock %}