{% extends "layout.html" %}
{% set active_page = 'Survey Builder' %}
{% block content %}
		
	<div id="container">
	
		<section class='row twelve columns'>
			
			<h1>Manage your users.</h1>
						
		</section>
		 
		<section id='user-list' class='row twelve columns'>
						
			<li class='user' id='0'>
				<span class='user-name'>Sophia Dengo</span>
				<span class='user-mail'>sdengo@codeforamerica.org</span>
				<span class='user-permissions'>Superuser</span>
				<span class='button password'>Change Password</span>
				<span class='button delete'>x</span>
			</li>
			
			<li class='user' id='1'>
				<span class='user-name'>Ernie Hsiung</span>
				<span class='user-mail'>ehsiung@codeforamerica.org</span>
				<span class='user-permissions'>Superuser</span>
				<span class='button password'>Change Password</span>
				<span class='button delete'>x</span>
			</li>
			
			<li class='user' id='2'>
				<span class='user-name'>Mathias Gibson</span>
				<span class='user-mail'>mathias@codeforamerica.org</span>
				<span class='user-permissions'>Superuser</span>
				<span class='button password'>Change Password</span>
				<span class='button delete'>x</span>
			</li>
			
			<li class='add-user button'>Add a new user</li>
			
		</section>
		
		<section id='add-user-form' class='row twelve columns hidden'>
			
			<h3>Add a new user.</h3>
			<input type='text' placeholder="First and last name">
			<input type="email" placeholder='name@miamidade.gov'><label>
			<input type="radio" value='superuser'><label>Superuser</label>
			<input type="radio" value='user'><label>User</label>
			<span class='button' id='generate-password'>Generate password</span>
			<span class='button' id='submit-new-user'>Create new user</span>
			
		</section>
	</div><!--!/#container -->

{% endblock %}