{% extends "layout.html" %}
{% set active_page = 'Survey Builder' %}
{% block content %}
		
	<div id="container">
		
		<div class='row u-pull-left' id='breadcrumb'>
			
			<ul class='list-nav'>
				
				<li class='breadcrumb-text'>You're looking at:</li>
				<li id='breadcrumb-location'>Saved survey</li>
				<li class='breadcrumb-empty'></li>
				<li class='breadcrumb-text'>Go back to:</li>
				<li id='breadcrumb-return'><a href='/create-survey/'>Survey Builder</a></li>
				
			</ul>
		</div>
		
		<section class='row twelve columns'>
			
			<h1>Published!</h1>
			<p>Your survey has been saved and published to the web. It's now available to share.</p>
			<span class='button url'>http://c4a.me/picsurvey</span>
						
		</section>
		 
		<section class='row twelve columns'>
			
			<h4>Unpublish</h4>
			<p>Need to unpublish? This will return your survey to draft form.</p>
			<p class='warning'>If you unpublish your survey, visitors to [URL] will get an empty page.</p>
			<span class='button'>Unpublish your survey</span>
						
		</section>
		
		<section class='row twelve columns'>
			
			<h4>Share</h4>
			<p>Share this survey on social media!</p>
			<ul>
				<li><a href=# class='social button'>Twitter</a></li>
				<li><a href=# class='social button'>Facebook</a></li>
				<li><a href=# class='social button'>LinkedIn</a></li>
				<li><a href=# class='social button'>Send an E-mail</a></li>
				
			</ul>
		</section>
		
				
		
	</div><!--!/#container -->


{% endblock %}