{% extends "./email/base.html" %}

{% block header %}
Permitting Inspection Center Monthly Status Report
{% endblock %}

{% block content %}
<p>Hello!</p>

<p>Below is a link to the summary statistics for the Permit Inspection Center Survey for [MONTH] [YEAR]:</p>

<p>[view monthly report]</p>

<p>To see the public dashboard of feedback data, visit <a href="http://c4a.me/mdcdashboard" target="_blank">c4a.me/mdcdashboard</a>. To see a live version of the feedback survey, visit <a href="http://c4a.me/picsurvey" target="_blank">c4a.me/picsurvey. If you have any questions about this process, please reach out to miami-dade@codeforamerica.org.</p>
{% endblock %}

{% block footer %}
<p><a href="#">Unsubscribe</a> | <a href="mailto:miami-dade@codeforamerica.org?Subject=Feedback%20from%20Email">Questions? Email us</a>
{% endblock %}
