{% extends "layout.html" %}
{% set active_page = 'Details' %}
{% block content %}

<section class='row' id='details-view'>

  <h3>All Survey Responses</h3>
  <p><i>Pro-tip: Click the table headers to sort each column.</i></p>
  
  <div class='twelve columns' id='survey-details'>
     
    <table class='sticky-table sortable'>
      
      <thead class='sticky-thead'>
        
        <tr>
          <th>Date</th>
          <th>Method</th>
          <th>Language</th>
          <th>Rating</th>
          <th>Role</th>
          <th>Route</th>
          <th>Add'l Comments</th>
          <th>Followup?</th>
          <th>Survey ID</th>
        </tr>
        
      </thead>
      
      <tbody>
        {% for item in resp_obj %}
        <tr class='table-top-row'>
          <td class='pretty-date hidden'>{{ item.date_submitted }}</td>
          <td class='method hidden'>{{ item.method }}</td>
          <td class='language hidden'>{{ item.lang }}</td>
          <td>{{ item.rating }}</td>
          <td>{{ item.role_en }}</td>
          <td>{{ item.route_en }}</td>
          <td>{{ item.more_comments }}</td>
          <td class='follow-up'>{{ 'Yes' if item.follow_up else 'No' }}</td>
          <td class='table-button'>
            <a href="{{ url_for('dashboard.survey_detail', id=item.id) }}">#{{ item.id }} &raquo;</a>
          </td>
        </tr>
        
        {% endfor %}
      </tbody>
    </table>
     
  </div>

</section> <!-- close row -->

{% endblock %}

