
{% extends "layout.html" %}
{% block content %}

<h1 class="page-header">Surveys</h1>

<p>We'll be combining surveys from multiple sources and platforms into one dataset so we can do analytics. </p>


<ul>
    <li>opinionscale_7205022 / opinionscale_8228843</li>
    <li>list_7649733_choice / list_8228956_choice</li>
    <li>textarea_7205102 / textarea_8228948</li>
    <li>list_7205097_choice / list_8228956_choice</li>
    <li>textfield_7205223 / textfield_8229008</li>
    <li>textarea_7205107 / textarea_8229012</li>
</ul>

The PIC Experience rating:

<ol>
    <li>Get https://api.typeform.com/v0/form/UYZYtI?key=433dcf9fb24804b47666bf62f83d25dbef2f629d&completed=true&since=[X]</li>
    <li>[X] is the unix timestamp of today, 7 days ago.</li>
    <li>Go through each entry in responses, and pull out opinionscale_7205022 / opinionscale_8228843, whichever is not null. Convert to integer.</li>
    <li>Of all the numbers convert a mean and median. Display this in the dashboard.</li>
</ol>

{% endblock %}
