{% extends "layout.html" %}
{% set active_page = 'Violations' %}
{% block content %}

<section class='row' id='details-view'>

  <div class='twelve columns panel fluid-height'>

      <div class='headline'>Survey questions: Detail View</div>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Lang</th>
              <th>Rating</th>
              <th>Method</th>
              <th>Follow up?</th>
              <th>Role</th>
              <th>Purpose</th>
              <th>Was it done?</th>
              <th>Best / Worst</th>
              <th>Improvements?</th>
              <th>More comments?</th>
            </tr>
          </thead>
          <tbody>
            {% for item in resp_obj %}
            <tr>
              <td>{{ item.date }}</td>
              <td>{{ item.lang }}</td>
              <td>{{ item.rating }}</td>
              <td>{{ item.method }}</td>
              <td>{{ item.followup }}</td>
              <td>{{ item.role }}</td>
              <td>{{ item.purpose }}</td>
              <td>{{ item.getdone }}</td>
              <td>{{ item.bestworst }}</td>
              <td>{{ item.improvement }}</td>
              <td>{{ item.morecomments }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>

    </div>

</section> <!-- close row -->

{% endblock %}

