{% extends "layout.html" %}
{% import "user/macro_field_with_errors.html" as macros %}
{% set active_page = 'Manage Users' %}

{% block content %}
  <div id="container">

    <section id='user-list' class='row twelve columns'>

      <h3>Manage your users.</h3>

      <ul id='jump-nav'>

        <li><a class='button' href='#stakeholder-list'>Jump to Reporting E-mail Management</a></li>

      </ul>


      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Permissions</th>
            {% if current_user.is_admin() %}
            <th>Actions</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for user in users %}
          <tr>
            <td>{{ user.full_name }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role.name }}</td>
            {% if current_user.is_admin() %}

            <td class='user-management-td'>
              <li class='user-management-btn'><a class='button'href="{{ url_for('user.user_edit', id=user.id) }}">Edit user</a></li>
              <form action="{{ url_for('user.user_delete', id=user.id) }}" method="POST">
                <li class='user-management-btn'><button class="delete-small" type="submit">Delete user</button></li>
              </form>
            </td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% if current_user.is_admin() %}
      <a class='add-user button' href="{{ url_for('user.user_create') }}">Add a new user</a>
      {% endif %}

    </section>

    <section id='stakeholder-list' class='row twelve columns'>

      <h3>Set who receives e-mail.</h3>
      <p>Here you can determine who receives daily e-mail updates from the dashboard system. You may separate multiple e-mail addresses with a comma.</p>

      <form id="stakeholderForm" class="form form-stakeholders" method="POST" action="{{ url_for('surveys.survey_index') }}" role="form">
        <ul>
          {% for n in range(1,15) %}
          <li>{{ routes[n] }}: <input name="field-route-{{n}}" type="text" value="{% if stakeholders[n-1] is defined %}{{ stakeholders[n-1].email_list }}{% endif %}"></li>

          {% endfor %}
        </ul>
        <input type="submit" value="save changes">
      </form>


    </section>

  </div><!--!/#container -->

{% endblock %}
