<!DOCTYPE html>
<html>
  <head>
    <title>Feedback Tool</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" media="screen">
    
    <link href="../static/css/skeleton.css" rel="stylesheet" media="screen">
    <link href="../static/css/normalize.css" rel="stylesheet" media="screen">
    
    <style>
      .container {
        max-width: 1000px;
      }
    </style>
  </head>
  <body>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Feedback tool</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="/admin">Settings</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container" style="padding-top:60px;">

      {% for error in errors %}
        <h4>{{ error }}</h4>
      {% endfor %}


        <h2>Dashboard</h2>

        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Feedback</h3>
          </div>
          <div class="panel-body">
            <ul>
              <li>The PIC is rated at <strong>??.???</strong></li>
              <li>There are <strong>??</strong> surveys completed in the past <strong>??</strong> days</li>
              <li>?? out of ?? surveys are in Spanish</li>
            </ul>

            <p><a href="/surveys">Configure this panel</a></p>

          </div>
        </div>

    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </body>
</html>
