{% extends "layout.html" %}
{% block content %}

{{ super() }}

        <h2>Dashboard</h2>

        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Feedback</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li>The PIC is rated at <strong>??.???</strong></li>
                  <li>There are <strong>??</strong> surveys completed in the past <strong>??</strong> days</li>
                  <li>?? out of ?? surveys are in Spanish</li>
                </ul>
                <p><a href="/surveys">Configure this panel</a></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
          <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Feedback</h3>
              </div>
              <div class="panel-body">
                <ul>
                  <li>The PIC is rated at <strong>??.???</strong></li>
                  <li>There are <strong>??</strong> surveys completed in the past <strong>??</strong> days</li>
                  <li>?? out of ?? surveys are in Spanish</li>
                </ul>
                <p><a href="/surveys">Configure this panel</a></p>
              </div>
            </div>
          </div>
        </div>


{% endblock %}
