<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en" class="no-js ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <!--[if IE]><![endif]-->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>

  <meta name="viewport" content="width=device-width; initial-scale=1.0">

  <!-- !CSS -->
  <link rel="stylesheet" type="text/css" href="/static/css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/skeleton.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/style.css" />

  <!-- !Modernizr - All other JS at bottom -->
  <!-- <script src="js/modernizr-1.5.min.js"></script> -->


</head>
<!-- !Body -->
<body>

  <header>
  </header>

  <div id="container">


    <div class='row'>

      <h3><span class='bold'>Pick the language you're comfortable in.</span><br>Elija el idioma en el que se siente cómodo.</h3>

      <div class='six columns'>
        <a href='#' class='button'>Take a survey in English</a>
      </div>

      <div class='six columns'>
        <a href='#' class='button'>Participe en una encuesta en español</a>
      </div>

    </div>


  </div><!--!/#container -->

  <footer>
  </footer><!-- /footer -->

  <!-- !Javascript - at the bottom for fast page loading -->
  <!-- Grab Google CDN's jQuery. -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>

</body>
</html>
